@import '../basic/_variables'
@import '../basic/_mixins'
    
header
    @include set_size($width: 36dvw, $height: $height_header)
    padding: $extra_min_v_margin $extra_min_w_margin $extra_min_v_margin $extra_min_w_margin

    gap: $min_w_margin
    @include postioning(fixed, $min_v_margin, $left: 50%)
    transform: translateX(-50%)
    
    /* чтобы лого было по середине нужно чтобы 2 дива были одинакового размера, это решает эту проблему */
    @include grid_container(1fr max-content 1fr, 100%)

    border: $border-size solid $main_color
    border-radius: $extended_border_radius
    border-top-left-radius: 0
    border-bottom-right-radius: 0
    
    background-color: $main_color_inactive
    backdrop-filter: blur($blur_size)
    z-index: 1

    div
        @include flex_container($justify: center, $align: center)

        .header_text
            cursor: pointer
            position: relative
            font-size: $bigger_font
            
            @include interactive_object(                $own_interaction: ('transform': translateX(0%) scaleX(1.0)),                                                    $pseudoelement: 'after')

        .header_text::after
            content: ''
            position: absolute
            @include set_size(100%, $border-size)
            @include postioning($top: calc(100% + $border-size), $left: 0)
            background-color: $main_color
            border-radius: $default_border_radius

        .header_left::after
            /* -50% потому что при scale(0) линия находится ровно по середине текста и добавляя -50% становится идеально слева и важно именно в таком порядке, когда scale(0) то и элемент 0 */
            transform: translateX(-50%) scaleX(0)

        .header_right::after
            transform: translateX(50%) scaleX(0)


    figure
        padding: $super_min_v_margin $super_min_w_margin $super_min_v_margin $super_min_w_margin
        
        position: relative
        #logo
            height: 100%
            cursor: pointer

            @include interactive_object(                                                       $own_interaction: ('transform': scale(0.85)),                                                  $other_elements:                              ('#globus': ('fill': $globus_color),            '#wings': ('fill': $contrast_color),                    '~ figcaption': ('transform': translateY(calc(-1 * $super_min_v_margin)), 'filter': opacity(1)))                                                   )
        
        figcaption
            /* extra_min_v_margin, потому что педдинг у всего хедера такой и таким образом он идеально снизу */
            @include set_size(100%, $extra_min_v_margin)
            @include postioning($top: 100%, $left: 0)
            filter: opacity(0)

// #header_hamburger
//     display: none
//     height: 4vh

//     position: absolute
//     right: var(--min_w_margin)
//     top: 50%
//     transform: translateY(-50%)
//     cursor: pointer