@import '../basic/variables';
@import '../basic/mixins';


nav {
    @include set_size(10%, 100dvh);
    @include postioning(fixed, $left: 90%);
    @include grid_container(100%, max-content 1fr);
    
    /* чтобы тайтл был на уровне с надписями хедера, padding хедера + середина от высоты хедера */
    padding: calc($min_v_margin + ($height_header / 2))$extra_min_w_margin $extra_min_v_margin;
    border-left: $border-size solid $main_color;
    gap: $extra_min_v_margin;
    border-radius: $default_border_radius 0 0 $default_border_radius;
    background-color: $main_color_inactive;
    backdrop-filter: blur($blur_size);
    z-index: 1;

    #roadmap_title { font-size: $bigger_font }

    #divs_roadmap {
        /* так как у последнего дива нет линии, значит он на 50% меньше других 4 дивов, 22.25 * 4 == 89, последний 11%, что практически половина 22.25% */
        @include grid_container(100%, repeat(4, 22.25%) 1fr);
        
        overflow: hidden
    }
    
    .roadmap_div {
        @include grid_container(100%, repeat(2, 50%));
        
        justify-items: center;
        overflow: hidden
    }
    
    .last_roadmap { @include grid_container(100%, 100%) }
    
    .roadmap_wrapper {
        @include flex_container(column, $align: center);

        min-width: 75%;
        max-width: max-content;
        gap: $super_min_v_margin;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        padding: $super_min_v_margin $super_min_w_margin $super_min_v_margin $super_min_w_margin;
        
        @include interactive_object(                    $own_interaction: ('transform': scale(1.0), 'border-radius': $default_border_radius),                           $pseudoelement: 'after');

        &::after {
            @include set_size;
            @include postioning;

            content: '';
            background-color: $main_color_inactive;
            z-index: -1;
            transform: scale(0.0);
            border-radius: 50%;
        }
        
        .roadmap_bulb { height: 50% }
        
        .roadmap_bulb path { transition: $fixed_transition_time }
        
        .current_lines { fill: transparent }
        
        .bulb_filler {
            fill: transparent;
            stroke-width: 0%
        }
        
        .current_fill { stroke-width: 150% }
        
        .roadmap_text {
            white-space: nowrap;
            font-size: $smaller_font
        }
    }
    
    .roadmap_lines {
        @include set_size;
        
        stroke: $main_color_inactive;
        stroke-width: $border-size;
        stroke-dasharray: 4px;
        stroke-linecap: round;
        transition: stroke $fixed_transition_time;
    }
    
    .roadmap_passed_lines { stroke: $main_color }
    
    @media screen and (max-width: $large_breakpoint) {
        display: none
    }
}