@import ../basic/_mixins
    
#about_page
    font-size: $text_content_font

    .left_text_about
        text-align: left
    
    .about_section
        width: 100%
        @include grid_container($grid_columns: 45% 1fr, $grid_rows: max-content)
        column-gap: $min_w_margin
        margin-bottom: $mid_v_margin

        /* для фотографий */
        position: relative

        #about_languages
            @include flex_container(column)
            gap: $min_v_margin
            
            div
                @include grid_container($grid_columns: max-content 1fr, $grid_rows: repeat(5, max-content))
                
                /* для текста по середине */
                align-items: center

                column-gap: $extra_min_w_margin
                row-gap: $extra_min_v_margin
                
                .about_language_flag
                    @include make_circle(6dvh)
                    border: $border-size solid $main_color
            
        .about_photo
            @include set_size(calc(55% - $min_w_margin), 100%)
            @include postioning()
            border-radius: $default_border_radius
            object-fit: cover
            object-position: center

        .right_about_photo
            @include postioning($left: calc(45% + $min_w_margin))


    /* для touch девайсов доп. класс для .about_card, т.к hover не распознают и чтобы touchmove работал нужно сперва тапнуть и только потом видно radialgradient, а это неудобно. Поэтому на touchstart/touchend им добавляется/убирается этот класс */
    .active::after
        filter: opacity(100%) !important
    
    .about_card
        width: 75%
        @include flex_container(column, $align: center)
        padding: $min_v_margin $min_w_margin $min_v_margin $min_w_margin
        border-radius: $extended_border_radius
        background: linear-gradient(225deg, $contrast_color_opacity, $shadow_color)
        gap: $extra_min_v_margin
        margin-bottom: $mid_v_margin
        position: relative
        --circle_size: 0px
        --mouse_x: 0px
        --mouse_y: 0px
        
        *
            pointer-events: none

        &::after
            content: ''
            @include set_size()
            @include postioning()
            border-radius: $extended_border_radius
            background: radial-gradient(circle var(--circle_size) at var(--mouse_x) var(--mouse_y), $contrast_color_opacity, transparent)
            z-index: -1
            filter: opacity(0%)
            transition: filter $fixed_transition_time
        
        &:hover::after
            filter: opacity(100%)

        #card_photo
            @include make_circle(20dvh, $object_position: top)
        
        .about_text_card
            @include flex_container(column, $align: center)
            background-color: $shadow_color
            border-radius: $extended_border_radius
            gap: $extra_min_v_margin
            padding: $extra_min_v_margin $extra_min_w_margin $extra_min_v_margin $extra_min_w_margin

            .quote_icon
                height: 4dvh
        
        #card_prompt
            position: relative
            bottom: $extra_min_v_margin
            font-size: $bigger_font

    .verical_about_section
        width: 75%
        @include grid_container($grid_columns: 100%, $grid_rows: max-content max-content 1fr)
        justify-items: center
        row-gap: $min_v_margin
        margin-bottom: $mid_v_margin

        .about_illustr
            width: 100%
            max-height: 50dvh

    .right_text_about 
        grid-template-columns: 1fr 45%
        text-align: right
        margin-bottom: 0
            