@import '../basic/mixins';

    
#benefits_container {
    @include set_size;
    @include grid_container($grid_columns: 1fr 1fr, $grid_rows: 1fr 1fr);

    font-size: $text_content_font;
    gap: $min_v_margin $min_w_margin;
    
    div {
        @include flex_container(column, $align: center);

        gap: $extra_min_v_margin;
    }
}