@import './variables';


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    // чтобы везде пэддинги были внутрь
}

html {
    /* стандартный размер шрифта браузера = 16px. 16px = 100%, 10px = 62.5%. */
    font-size: 62.5%;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: $main_color;
    overflow-x: hidden;
    background-color: $background_color;
    scroll-behavior: smooth;
}

body {
    /* smooth text */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* это и в html и здесь, чтобы на мобильных точно не было, при таком раскладе это точно работает */
    overflow-x: hidden;
}

img { user-select: none }

strong {
    /* вместо font-weight: bold, которое по дефолту 700 */
    font-weight: 600
}

a, button {
    text-decoration: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

u {
    text-decoration: underline solid $contrast_color;
    text-underline-position: under
}

h1 { font-size: 8.5rem }

h2 { font-size: 7rem }

h3 { font-size: 4.5rem }

svg {
    fill: $main_color;
    stroke: $main_color; 
}