/* основа из которой все происходит в зависимости от вида деятельности */
$contrast_color: #f7b01a
$contrast_color_opacity: rgba(247, 176, 26, 0.4)
$contrast_color_inactive: rgba(247, 176, 26, 0.1)
$middle_shine_color: #fad178
/* цвет гармонирующий с контрастным, который зачастую будет фоном + иногда текстом на фоне конраста */
$background_color: #3b2d41
/* более темный оттенок background color c alpha */ 
$full_shadow_color: rgb(28, 21, 31)
/* более темный оттенок background color c alpha */ 
$shadow_color: rgba(28, 21, 31, 0.25)
/* оттенок бэкграунд цвета ближе к белому для текста */
$main_color: #dcdadd
$main_color_inactive: rgba(220, 218, 221, 0.1)

$error_color: #9d173f
$globus_color: #008BD0

$border-size: 3px
$default_border_radius: 15px
$extended_border_radius: 30px

$super_min_v_margin: 0.75dvh
$super_min_w_margin: 0.75dvw
$extra_min_v_margin: $super_min_v_margin * 2
$extra_min_w_margin: $super_min_w_margin * 2
$min_v_margin: $extra_min_v_margin * 2
$min_w_margin: $extra_min_w_margin * 2
$mid_v_margin: $min_v_margin * 2
$mid_w_margin: $min_w_margin * 2
$max_v_margin: $mid_v_margin * 2
$max_w_margin: $mid_w_margin * 2

$smaller_font: 1.45rem
$bigger_font: 2rem
$text_content_font: 3rem

/* header использует в качестве значение высоты это, нужно так потому что это используется в расчетах педдинга сверху и роадмапа и pages_content  */
$height_header: 10dvh

$blur_size: 50px

$large_breakpoint: 1440px

$fixed_transition_time: 0.5s
$reveal_transition_time: 1s

:root
    --main_page_fadeout: rgba(59, 45, 65, 0)
    --transition_time: 0.1s

@media (hover: hover)
    :root
        --transition_time: 0.5s